*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif; 
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1d2b3a;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
    height:520px;
    background-color: transparent;
    border:1px solid rgba(255,255,255,0.25);
    padding:40px 50px;
    border-radius:10px;
    box-shadow: inset;
}

form h2{
    margin-bottom:35px;
    margin-top:20px;
    letter-spacing: 0.05em;
    font-weight: 800;
    color:#ffff;
    font-size: 2em;
}

form .inputbox{
    position: relative;
    width:300px;
    margin-bottom:20px;
    border:1px solid rgba(255,255,255,0.25);
}

form .inputbox input{
    position:relative;
    border:1px solid rgba(255,255,255,0.25);
    background-color: transparent;
    color:rgba(255,255,255,0.75);
    padding:15px;
    font-size:1em;
    
    outline: none;
    box-shadow: none;
    width:100%;
    border-radius: 2px; 
    
}
form .inputbox span{
    position: absolute;
    left:0;
    padding: 15px;
    transition: 0.5s;
    color:rgba(255,255,255,0.25);
}
form .inputbox input:valid ~ span,
form .inputbox input:focus ~ span{
    color:#00dfc4;
    transform:translateX(10px) translateY(-7px);
    padding: 0 12px;
    background: #1d2b3a ;           
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
}
form .box{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-bottom:25px;
    font-size: 0.8em;
    color:rgba(255,255,255,0.25);
    font-weight: 400;
    align-items: center;

}
form .box a{
    font-size:1.2em;
}
form .login-button{
    padding:10px;
    width:100%;
    font-size:1.2em;
    letter-spacing: 0.025em;
    border-radius:2px;
    border: 1px solid rgba(255,255,255,0.25);
    background-color: transparent;
    color:#fff
}
form .login-button:hover{
    letter-spacing: 0.25em;
    transition: 0.5s;
}   